#clockcontainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(CLOCK.png) no-repeat;
    background-size: 100%;
    /* border: 2px solid red; */
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
   
    width: 2%;
    height: 22%;
    top: 28%;
    left: 48.8%;
/* opacity: 0.1; */
    /* display: none; */
}
#minute{
    width: 1.5%;
    height: 30%;
    top: 20%;
    left: 49.1%;
    /* opacity: 0.1; */
    /* display: none; */
    

}
#second{
    width: 1%;
    height: 34%;
    top: 16%;
    left: 49.4%;
    /* opacity: 0.3; */
    /* display: none; */
    
}